@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&family=Kanit:ital,wght@1,200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
* {
    box-sizing:border-box;
}

body {
    margin: 0;
    background-color:#CEDAFF;
    /* background-image: url("https://images.pexels.com/photos/349609/pexels-photo-349609.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size:cover; */
    font-family: 'IM Fell English SC', serif;
}

header {
    text-align:center;
    background-color:#9098B1;
    width: 100vw;

}

#macros {
    display:flex;
    text-align:center;
    justify-content: space-around;
    padding: 30px;
}

#calories{
    display:flex;
    justify-content:center;
    align-items:center;
    width: 200px;
}

#protein{
    display:flex;
    justify-content:center;
    align-items:center;
    width: 200px;
}

#fat{
    display:flex;
    justify-content:center;
    align-items:center;
    width: 200px;
}

#carbohydrate{
    display:flex;
    justify-content:center;
    align-items:center;
    width: 200px;
}


#topSection {
    width:100%;
    text-align:center;
    align-items:center;
    top:50%
}

/* #searchAndGet {
    display: inline-block;
    width:50%
} */

#searchAndGet {
    display: flex;
    position: relative;
    justify-content:space-around;
}

#selectForm {
    flex: 1;
    text-align:center;
    margin:10px;
    width: 50%;
    padding: 30px 30px 30px 30px;
}

#searchIngredients {
    flex: 1;
    text-align:center;
    margin:10px;
    width: 50%;
    padding: 30px 30px 30px 30px;
}

button {
    color: red;
    background-color:white;
    font-family: 'Russo One', sans-serif;

}


