* {
    box-sizing:border-box;
}
body {
    display: flex;
    height: 100vh;
    margin: 0;

}


div {
    justify-content: space-around;
    align-items:center;
    width: 500px;
    height:300x;
    border: solid black 2px;
}