@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&family=Kanit:ital,wght@1,200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
* {
    box-sizing:border-box;
}

body {
    margin: 0;
    background-color:#edf0ff;
    /* background-image: url("https://images.pexels.com/photos/1764702/pexels-photo-1764702.jpeg?auto=compress&cs=tinysrgb&w=1600");
    background-size:cover; */


}

header {
    text-align:center;
    background-color: #ccd0ed;
    width: 100vw;
    padding: 25px;

}

#macros {
    display:flex;
    text-align:center;
    justify-content: space-around;
    padding: 30px;
}

#calories{
    display:flex;
    justify-content:center;
    align-items:center;
    width: 200px;
}

#protein{
    display:flex;
    justify-content:center;
    align-items:center;
    width: 200px;
}

#fat{
    display:flex;
    justify-content:center;
    align-items:center;
    width: 200px;
}

#carbohydrate{
    display:flex;
    justify-content:center;
    align-items:center;
    width: 200px;
}

#macros {
    border: 2px solid #d6d6d6;
    border-radius:5px;
}

#topSection {
    width:100%;
    text-align:center;
    align-items:center;
    top:50%
}

/* #searchAndGet {
    display: inline-block;
    width:50%
} */

#searchAndGet {
    display: flex;
    position: relative;
    justify-content:space-around;
}

#selectForm {
    flex: 1;
    text-align:center;
    margin:20px;
    width: 50%;
    padding: 30px 30px 30px 30px;
    border: 2px solid #d6d6d6;
    border-radius:5px;
}

#searchIngredients {
    flex: 1;
    text-align:center;
    align-items:center;
    margin:20px;
    width: 50%;
    padding: 30px 30px 30px 30px;
    border: 2px solid #d6d6d6;
    border-radius:5px;
}
#userInput {
    width: 200px;
    padding: 5px;
}
#btnSearch {
    color: black; 
    background-color:#f0b678;
    border-radius:50px;
    width: 150px;
    padding: 5px;
    margin: 15px;
    border: none;
}

#btnSearch:hover {
    cursor: pointer;
    opacity:75%;
}
#btnGet {
    color: black; 
    background-color:#f0b678;
    border-radius:50px;
    width: 150px;
    padding: 5px;
    margin: 15px;
    border: none;
}
}
#btnGet:hover {
    cursor: pointer;
    opacity:75%;
}

#selectFood {
    padding: 3px;
    margin:15px;
    text-align:center;
    border-radius: 5px;
}


